@page "{bookId:int?}"
@model MyRead.Web.Pages.Manager.AddBookModel
@{
    ViewData["Title"] = "Add Book";
}

<h1>Create</h1>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="@Model.BookModel.Title"></label>
        <input type="text" asp-for="@Model.BookModel.Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.BookModel.CurrentPage"></label>
        <input type="number" asp-for="@Model.BookModel.CurrentPage" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.BookModel.Pages"></label>
        <input type="number" asp-for="@Model.BookModel.Pages" class="form-control" />
    </div>
    <div class="form-group">
        <label>Author</label>
        <select asp-for="@Model.AuthorId" class="authorSelect"
                asp-items="@Model.AuthorSelect">
            <option value="">--Select Author--</option>
        </select>
    </div>
    <div class="form-group">
        <input type="file" asp-for="@Model.UploadedPicture"  class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a asp-page="./ListBook" class="btn btn-danger">Cancel</a>
</form>
<a asp-page="./AddAuthor" class="btn btn-primary">Add Author</a>


@*Where to place this?*@
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".authorSelect").select2();
        });
    </script>
}
