@page
@model MyRead.Web.Pages.Manager.ListBookModel
@{
    ViewData["Title"] = "List";
}

<h1>Index</h1>
<table class="table table-hover">
    @foreach (var book in Model.Books)
    {
        <tr>
            <th>
                @book.Title
            </th>
            <th>
                @book.Author.FirstName @book.Author.LastName
            </th>
            <th>
                <form method="post" asp-page-handler="SetCurrentPage" asp-route-bookId="@book.BookID">
                    <input type="number" value="@book.CurrentPage" name="currentPage" id="currentPage" />
                    @($"/{book.Pages}")
                </form>
            </th>
            <th>
                <a class="btn btn-primary btn-sm" asp-page="./EditBook" asp-route-bookId="@book.BookID">Edit</a>
            </th>
            <th>
                <a class="btn btn-danger btn-sm" asp-page="./DeleteBook" asp-route-bookId="@book.BookID">Delete</a>
            </th>
            <th>
                <form method="post" asp-page-handler="Archive" asp-route-bookId="@book.BookID">
                    <button type="submit" class="btn btn-secondary btn-sm">Archive</button>
                </form>

            </th>
        </tr>
    }
</table>
<a class="btn btn-primary" asp-page="./AddBook">Add book</a>
<a class="btn btn-info" asp-page="./ListArchivedBook">Archived books</a>
<a class="btn btn-secondary" asp-page="./ListAuthor">Authors</a>

@if (Model.AddNotification != null)
{
    <div class="alert alert-success">@Model.AddNotification</div>
}

@if (Model.DeleteNotification != null)
{
    <div class="alert alert-danger">@Model.DeleteNotification</div>
}

@if (Model.EditNotification != null)
{
    <div class="alert alert-info">@Model.EditNotification</div>
}

@section Scripts {
    <script>
        document.getElementById('currentPage')
            .addEventListener("keyup", function (event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    document.getElementsByClassName('currentPage').submit();
                }
            });
    </script>
}

