@page
@model MyRead.Web.Pages.Manager.ListBookModel
@{
    ViewData["Title"] = "List";
}

<h1>Index</h1>
<table class="table">
    @foreach (var book in Model.Books)
    {
        <tr>
            <th>
                @book.Title
            </th>
            <th>
                @book.Author.FirstName @book.Author.LastName
            </th>
            <th>
                @($"{book.CurrentPage}/{book.Pages}")
            </th>
            <th>
                <a class="btn btn-primary" asp-page="./EditBook" asp-route-bookId="@book.BookID">Edit</a>
            </th>
            <th>
                <a class="btn btn-danger" asp-page="./DeleteBook" asp-route-bookId="@book.BookID">Delete</a>
            </th>
        </tr>
    }
</table>
<a class="btn btn-primary" asp-page="./AddBook">Add book</a>

@section Scripts {
    <script>
        document.getElementById('currentPage')
            .addEventListener("keyup", function (event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    let focusedValue = document.activeElement.value;
                    document.getElementById('currentValue').value = focusedValue;
                    document.getElementsByClassName('currentPage').submit();
                }
            });
    </script>
}

